<div *ngIf="!visit">
  <p>Вибрати пацієнта серед записаних на сьогодні:</p>
  <mat-form-field>
    <mat-label>пацієнти</mat-label>
    <mat-select [(ngModel)]="visit" name="visit" (selectionChange)="saveCurrentVisit()">
      <mat-option *ngFor="let v of visitsToday" [value]="v">
        {{v.time}} {{v.patient.surname}} {{v.patient.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>


<div *ngIf="visit">
  <div class="wrapper-patient">
    <div class="left-div-patient">
      <img [src]="pathToPatientImage" alt="image2">
    </div>

    <div class="right-div-patient">
      <h3>{{visit.patient.surname}} {{visit.patient.name}} {{visit.patient.fatherName}}</h3>
      <p>Дата народження: {{visit.patient.dateOfBirth | date:"dd.MM.yyyy"}}р.<br>
        Телефон: {{visit.patient.phone}}<br>
        Ел.пошта: {{visit.patient.username}}</p>
    </div>
    <div></div>
  </div>

  <div>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="" (click)="toHistoryVisits()">історія оглядів</mat-button-toggle>
      <mat-button-toggle value="" (click)="toHistoryAnalyzes()">історія аналізів</mat-button-toggle>
      <mat-button-toggle value="" (click)="toRecordResult()">внести результати прийому</mat-button-toggle>
      <mat-button-toggle value="" (click)="toRecordIndicators()">заміри показників</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

</div>

<router-outlet></router-outlet>
