<div class="wrapper">

  <div class="top-div" *ngIf="currentDoctor">
    <div class="left-top-div">
      <img [src]="pathToImage" alt="image2">
    </div>

    <div class="right-top-div">
      <h3>{{currentDoctor.surname}} {{currentDoctor.name}} {{currentDoctor.fatherName}}</h3>
      <p>Спеціалізація: {{currentDoctor.speciality | lowercase}}</p>
      <p>Телефон: {{currentDoctor.phone}}</p>
      <p>Ел.пошта: {{currentDoctor.username}}</p>
    </div>
    <div></div>
  </div>

  <div class="bottom-div">
    <p *ngIf="lastVisit"><b>Останній прийом пацієнта - </b>{{lastVisit.date | date:"dd.MM.yyyy"}}р.
      {{lastVisit.time}}
      {{lastVisit.patient.surname}}
      {{lastVisit.patient.name}}</p>

    <p *ngIf="nextVisit"><b>Наступний прийом пацієнта - </b>{{nextVisit.date | date:"dd.MM.yyyy"}}р.
      {{nextVisit.time}}
      {{nextVisit.patient.surname}}
      {{nextVisit.patient.name}}</p>
  </div>

</div>
