<div class="wrapper">

  <div class="top-div" *ngIf="currentDoctor">
    <div class="left-top-div">
      <img [src]="'http://localhost:8080/images/' + currentDoctor.image" alt="image2">
    </div>

    <div class="right-top-div">
      <h3>{{currentDoctor.surname}} {{currentDoctor.name}} {{currentDoctor.fatherName}}</h3>
      <p>Спеціалізація: {{currentDoctor.speciality | lowercase}}</p>
      <p>Телефон: {{currentDoctor.phone}}</p>
      <p>Ел.пошта: {{currentDoctor.username}}</p>
    </div>
    <div></div>
  </div>

  <div class="bottom-div">
    <p><b>Останній прийом пацієнта - </b></p>
    <p><b>Наступний прийом пацієнта - </b></p>
  </div>

</div>
