.top-button {
  margin-right: 10px;
  text-align: right;
}

.create-times-visits{
  text-align: center;
}

select {
  width: 180px;
  text-align: center;
}

.div-with-buttons {
  display: flex;
}

.div-left {
  width: 33.333%;
}

.div-center {
  width: 33.333%;
}

.div-right {
  width: 33.333%;
  text-align: right;
}

th {
  border: 1px solid deepskyblue;
  background-color: deepskyblue;
}

td {
  border: 1px solid deepskyblue;
}
