<form *ngIf="!speciality">
  <mat-form-field>
    <mat-label>спеціальність</mat-label>
    <mat-select [(ngModel)]="speciality" name="spec" (selectionChange)="getDoctorsBySpecialize()">
      <mat-option *ngFor="let s of specialities" [value]="s">{{s | lowercase}}</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
</form>
<div *ngIf="speciality">
{{speciality}}
</div><br>

<form *ngIf="speciality && !doctor">
  <mat-form-field>
    <mat-label>лікар</mat-label>
    <mat-select [(ngModel)]="doctor" name="doc" (selectionChange)="getFreeDaysToDoctor()">
      <mat-option *ngFor="let d of doctors" [value]="d">{{d.surname}} {{d.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
</form>
<div *ngIf="doctor">
{{doctor.surname}} {{doctor.name}}
</div><br>

<form *ngIf="doctor && !day">
  <mat-form-field>
    <mat-label>день</mat-label>
    <mat-select [(ngModel)]="day" name="day" (selectionChange)="getFreeVisitsInSelectedDay()">
      <mat-option *ngFor="let d of freeDays" [value]="d">{{d | date:"dd.MM.yyyy"}}</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
</form>
<div *ngIf="day">
  {{day}}
</div><br>

<form *ngIf="day && !selectedVisit">
  <mat-form-field>
    <mat-label>час</mat-label>
    <mat-select [(ngModel)]="selectedVisit" name="calendarId">
      <mat-option *ngFor="let visit of freeVisitsInSelectedDay" [value]="visit">{{visit.time}}</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
</form>
<div *ngIf="selectedVisit">
  {{selectedVisit.time}}
</div><br>

<button mat-raised-button color="primary" (click)="recordToDoctor()" *ngIf="selectedVisit">Записатись</button>
