<div class="wrapper">

  <div class="top-div" *ngIf="currentPatient">
    <div class="left-top-div">
      <img [src]="pathToImage" alt="image2">
    </div>

    <div class="right-top-div">
      <h3>{{currentPatient.surname}} {{currentPatient.name}} {{currentPatient.fatherName}}</h3>
      <p>Телефон: {{currentPatient.phone}}</p>
      <p>Дата народження: {{currentPatient.dateOfBirth | date:"dd.MM.yyyy"}}р.</p>
      <p>Ел.пошта: {{currentPatient.username}}</p>
    </div>
    <div></div>
  </div>

  <div class="bottom-div">
    <p *ngIf="lastHeight"><b>Ріст - </b>{{lastHeight.result}} <small>({{lastHeight.date | date:"dd.MM.yyyy"}})</small></p>
    <p *ngIf="lastWeight"><b>Вага - </b>{{lastWeight.result}} <small>({{lastWeight.date | date:"dd.MM.yyyy"}})</small></p>
    <p *ngIf="false"><b>Група крові - </b></p>
    <p *ngIf="lastVisit"><b>Останній візит до лікаря - </b>
      {{lastVisit.date | date:"dd.MM.yyyy"}}р.
      {{lastVisit.doctor.speciality | lowercase}}
      {{lastVisit.doctor.surname}}
      {{lastVisit.doctor.name | slice:0:1}}.
      {{lastVisit.doctor.fatherName | slice:0:1}}.</p>
    <p *ngIf="nextVisit"><b>Наступний запланований візит до лікаря - </b>
      {{nextVisit.date | date:"dd.MM.yyyy"}}р.
      {{nextVisit.time}}
      {{nextVisit.doctor.speciality | lowercase}}
      {{nextVisit.doctor.surname}}
      {{nextVisit.doctor.name | slice:0:1}}.
      {{nextVisit.doctor.fatherName | slice:0:1}}.</p>
  </div>

</div>
