<div class="wrapper">

  <div class="top-div" *ngIf="currentPatient">
    <div class="left-top-div">
      <img [src]="'http://localhost:8080/images/' + currentPatient.image" alt="image2">
    </div>

    <div class="right-top-div">
      <h3>{{currentPatient.surname}} {{currentPatient.name}} {{currentPatient.fatherName}}</h3>
      <p>Телефон: {{currentPatient.phone}}</p>
      <p>Дата народження: {{currentPatient.dateOfBirth | date:"dd.MM.yyyy"}}р.</p>
      <p>Ел.пошта: {{currentPatient.username}}</p>
    </div>
    <div></div>
  </div>

  <div class="bottom-div">
    <p><b>Ріст - </b></p>
    <p><b>Вага - </b></p>
    <p><b>Група крові - </b></p>
    <p *ngIf="lastVisit"><b>Останній візит до лікаря - </b>
      {{lastVisit.date | date:"dd.MM.yyyy"}}р.
      {{lastVisit.doctor.speciality | lowercase}}
      {{lastVisit.doctor.surname}}
      {{lastVisit.doctor.name | slice:0:1}}.
      {{lastVisit.doctor.fatherName | slice:0:1}}.</p>
  </div>

</div>
